capde namespace leads to invalid URI, impacting linked data

currently the capde prefix is defined as follows:

```ttl
@prefix capde: <http://cccev-ap.de#> .
```

However this is not a valid browser IRI, because the slash is required at the end of a domain. I suggest you change it to `http://cccev-ap.de/#` to restore linked data compatibility.

Dear @SimonBin , 

thank you for your suggestion. To our understanding, section 3.2 of [RFC3986] (https://www.ietf.org/rfc/rfc3986.txt) basically allows for the way we defined the prefix. A [URI Validator] (https://0mg.github.io/tools/uri/) also validated. 

Nonetheless, the definition you suggested is more common and we will change it accordingly. 

Best regards